* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    color: unset;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    background-color: unset;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
}

body {
    max-width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.primary-btn {
    background-color: #1C1C1C;
    color: #E6E6E6;
}

.secondary-btn {
    background-color: #E6E6E6;
    color: #1C1C1C;
}


.primary-btn:hover {
    background-color: #E6E6E6;
    color: #1C1C1C;
    transition: all .15s ease-in;
}

.secondary-btn:hover {
    background-color: #1C1C1C;
    color: #E6E6E6;
    transition: all .15s ease-in;
}

.main-page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border: solid 1px rgba(0, 0, 0, .05);
}

/* page header */
header {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem;
    width: 100%;
}

.logo img {
    width: 6rem;
}

.social-links {
    display: flex;
    justify-items: center;
    gap: 1.5rem;
}

.social-links img {
    width: 2rem;
}

/* diaporama */

.slider {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    height: fit-content;
}

.diaporama {
    width: 500%;
    height: fit-content !important;
    display: flex;
    animation-name: diapo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.slide {
    width: 20% !important;
    height: 400px !important;
    position: relative;
}

.slide img {
    position: absolute;
    object-fit: contain;
}

.slide a {
    position: absolute;
    top: 330px;
    left: 210px;
    width: 20%;
    height: 70px;
}

.slide a button {
    width: 100%;
    height: 70px;
    border-radius: 35px;
    background-color: #1C1C1C;
    font-style: italic;
    font-size: 27px;
    font-weight: 600;
    color: #E6E6E6;
    border: 3px white solid;
}

.diaporama:hover {
    animation-play-state: paused;
}


@keyframes diapo {
    0% {
        transform: translateX(0%);
    }

    20% {
        transform: translateX(-20%);
    }

    40% {
        transform: translateX(-40%);
    }

    60% {
        transform: translateX(-60%);
    }

    80% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* navigation menu */
.nav-menu {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    background-color: #1C1C1C;
    color: #E6E6E6;
    font-size: 1.2rem;
}

.nav-menu li {
    height: 100%;
}

.nav-menu a {
    height: 100%;
    padding: 1rem;
}

.nav-menu a:hover {
    background-color: #E6E6E6;
    color: #1C1C1C;
    transition: all .3s ease-in;
}

/* page footer */
footer {
    margin-top: 5rem;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.footer-menu ul a:hover {
    color: blue;
    text-decoration: underline;
    transition: all .15s ease-in;
}

.copyright {
    background-color: #1C1C1C;
    text-align: center;
    color: #E6E6E6;
    padding: .5rem;
}